.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.contact{
    height: 50%;

    p{
        text-align: center;
        font-size: 350%;
        font-weight: 300;
        margin-bottom: 50px;
        color: #282828;
        letter-spacing: 2%;
    }

    input{
        background-color: white;
        width: 40%;
        margin-left: 29%;
        font-size: 100%;
        padding: 0.5% 0.5%;
        border-width: 2px;
        border-radius: 20px;
        border-color: black;
        margin-bottom: 2%;

        &:focus-within{
            outline: none;
            border-color: #ff0048;
            border-width: 3px;
        }
    }

    textarea{
        background-color: white;
        width: 40%;
        margin-left: 29%;
        font-size: 100%;
        padding: 0.5% 0.5%;
        border-width: 2px;
        border-radius: 20px;
        border-color: black;
        margin-bottom: 5%;
        &:focus-within{
            outline: none;
            border-color: #ff0048;
            border-width: 3px;
        }
    }

    button{
        text-decoration: none;
        background-color: white;
        color: rgb(255, 255, 255);
        font-weight: 600;
        border-radius: 25px;
        border: 5px solid #ff0048;
        padding: 12px; 
        transition: 0.3s;
        text-align: center;
        display: flex;
        color: #ff0048;
        margin: auto;
        &:hover{
            opacity: 80%;
            background-color: #ff0048;
            color: white;
            cursor: pointer;
        }
        margin-bottom: 5%;
    }

}


@media only screen and (max-width: 768px){
        .contact{
            
            input{
                width: 70%;
                margin-left: 12%;
                font-size: 100%;
                padding: 2% 2%;
            }

            textarea{
                width: 70%;
                margin-left: 12%;
                font-size: 100%;
                padding: 2% 2%;
            }

            button{
                padding: 2% 2%;
                margin-bottom: 100px;
            }

            p{
                overflow: hidden;
                text-align: center;
                font-size: 200%;
                font-weight: 300;
                margin-bottom: 50px;
                color: #282828;
                letter-spacing: 15px;
            }

        }
}